html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 24px;
	overscroll-behavior-x: none;
}

html, body, canvas {
    touch-action: none;
	user-select: none;
}

.card {
    position: absolute;
    top: 0px;
    z-index: 30;
    transition: none; /* Overriding papercss for perf */
    background-color:rgba(12, 12, 12, 0.8);
    box-shadow: none;
}
.card:hover{
    box-shadow: none; /* 15px 28px 25px -18px rgb(0 0 0 / 20%);  Grabbed from paper.min */
}

/* .card .card-body {
    display: none;
}
.card.unfurled .card-body {
    display: block;
} */

.card > .card-header {
    text-align: center;
    width: 100%;
    margin: auto;
    border: none;
    border-radius: 30px;
    background: none;

    padding: 6px 8px;
    padding-bottom:1px;

    font-size: 22px;
}

html.dark {
    --white-dark: rgb(22, 19, 14);
}
a {
    background-image: none;
    border-bottom: 2px dotted lightblue;
}
a:hover{
    border-bottom: 2px solid lightblue;
}

.hide {
	display: none !important;
}

.widthhidden {
	width:0; 
	overflow:hidden;
}

.card .card-body .card-link+.card-link, .card .card-body a+a {
	margin-left: 0.5rem;
}
