
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 24px;
}
#charsave input, #charsave button {
    font-size: 20px;
    padding: 3px;
    margin: 2px;
}
#charsave form{
    display: inline;
}
#charsave{
    width: 100%;
}
#charsave input[type="email"]{
    width: 25%;
}
#charsave input[type="password"]{
    width: 15%;
}
#fps, #mem {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#mem {
    bottom: 64px;
}
#info {
    position: absolute;
    bottom: 10px;
    left: 100px;
    text-align:left;
}
#gameinfo{
	float:right; 
	position:absolulte; 
	right:0px; 
	margin-top: 5px; 
}

#gameinfo #linkmenu{
	position:relative;
	top: -5px;
}

.overlaytop {
	position:absolute;
	top:0px;
	width: 100%;
}
.topitem {
    background-color: #fdfbd3; /* FFF4BC */
    padding: 10px;
	padding-top: 12px;
}
#menu{
	display:none;
	background-color: #FFF4BC;
	width: auto;
	float:right;
}

#menu ul {
	list-style-type: none;
	padding: 0;
	margin: 10px;
	text-align:right;
}

