
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 24px;
}
#charsave input, #charsave button {
    font-size: 20px;
    padding: 3px;
    margin: 2px;
}
#charsave form{
    display: inline;
}
#charsave{
    width: 100%;
}
#charsave input[type="email"]{
    width: 25%;
}
#charsave input[type="password"]{
    width: 15%;
}
#fps, #mem {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#mem {
    bottom: 64px;
}
#info {
    position: absolute;
    bottom: 10px;
    left: 100px;
    text-align:left;
}
.topitem {
    background-color: rgb(245, 236, 158);
    /* width: 100%; */
    padding: 10px;
}
#gameinfo{
	float:right; 
	position:absolulte; 
	right:0px; 
	margin-top: 5px; 
	background-color:rgb(245, 236, 158);
}

#gameinfo a{
	position:relative;
	top: -3px;
}
